{% macro render_event(_) %}
{% set type = _.type %}
{% set event = _.data %}

<div class="event {{type}}">
{% if type == "edit" %}
<p class="edit"><span class="username">{{event.sender.display_name}}</span> has edited their message</p>
<ul>
    <li>{{event.edit.before}}</li>
    <li>{{event.edit.after}}</li>
</ul>
{% elif type == "delete" %}
<p><span class="username">{{event.sender.display_name}}</span> has deleted their message.</p>
<ul><li>{{event.message}}</li></ul>
{% elif type == "rename" %}
<p><span class="username">{{event.old}}</span> is now known as <span class="username">{{event.new}}</span></p>
{% elif type == "join" %}
<p><span class="username">{{event.name}}</span> has joined the server. </p>
{% elif type == "rename_server" %}
<p><span class="server">{{event.server.before}}</span> has been renamed to <span class="server">{{event.server.after}}</span></p>
{% elif type == "rename_channel" %}
<p><span class="channel">{{event.channel.before}}</span> has been renamed to <span class="channel">{{event.channel.after}}</span></p>
{% else %}
<h1 class="title is-1">UNKNOWN {{type}}</h1>
<pre>{{event}}</pre>
{% endif %}
</div>
{% endmacro %}
<!doctype html>
<html>
    <head>
        <meta charset="ut®f-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Disquotes{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Atma:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/disquotes.css">
        <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
        {% block styles %} {% endblock %}
    </head>
    <body>
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link"><p id="textlogo">Quotes <3</p></a>
        </div>
        <div class="container center">
            {% block content %} {% endblock %}
        </div>

        <script src="/static/js/disquotes.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        {% block scripts %} {% endblock %}
    </body>
</html>