.site-header {
    background-color: #eee;
}

.site-title:hover {
    cursor: pointer;
}

.post-title {
    font-size: 28px;
}

.post-content h2 {
    font-size: 25px;
    border-bottom: 1px solid #ccc;
}
